async-timeout==4.0.2
deepgram-sdk==1.0.0
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
itranslate==0.1.2
openai==0.24.0
streamlit==1.13.0
streamlit-quill==0.0.3
youtube-dl==2021.12.17
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability